<div class="body" id="view234">
	
	<ng-include src="'partials/view2.html'" ng-controller="View2Ctrl" class="selectedDishes" id="view2"></ng-include>

	<div class="mainView" id="view4">
		<h2 ng-hide="!showGrid">{{status}}</h2>
		<div class="row" id="view4Row" ng-hide="showGrid">
			<div class="col-sm-12 col-md-6">
				<div class="thumbnail">
					<h2>{{currentDish.title}}</h2>
					<img ng-src="{{currentDish.image}}">
					<div class="caption">
						<a href="#!/search" class="btn btn-default" id="backToSelectDishButton" type="button">
							<span class="glyphicon glyphicon-chevron-left"></span> Back
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6" id="view4IngredientThumbnail">
				<div class="thumbnail">
					<h2>Ingredients for {{getNumberOfGuests()}} people</h2><hr>
					<table id="dishIngredientTable">
						<tbody>
							<tr ng-repeat="ingredient in currentDish.extendedIngredients">
								<td>{{ingredient.amount * numberOfGuests | number:1}} {{ingredient.unit}}</td>
								<td>{{ingredient.name}}</td>
								<td>SEK</td>
								<td>{{ingredient.amount * numberOfGuests | number:1}}</td>
							</tr>
						</tbody>
					</table>
					<hr>
					<div>
						<button class="btn btn-default" id="confirmDishButton" type="button" ng-click="addDishToMenu(currentDish.id)">Confirm Dish</button>
						<p style="float:right">Total cost: <span id="dishCost">{{getCurrentDishPrice()}}</span> SEK</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="thumbnail">
					<h2>Preparations</h2>
					<p>{{currentDish.instructions}}</p>
				</div>
			</div>
		</div>
	</div>
</div>