<h3>My dinner</h3>
<div>
<p>Number of guests: <span id="numberOfGuests">{{getNumberOfGuests()}}</span></p>
</div>
<div class="btn-group">
		<button id="minusGuest" class="btn" ng-model="numberOfGuests" ng-click="setNumberOfGuest(getNumberOfGuests() -1)"><span class="glyphicon glyphicon-minus"></span></button>
	<button id="plusGuest" class="btn" ng-model="numberOfGuests" ng-click="setNumberOfGuest(getNumberOfGuests() +1)"><span class="glyphicon glyphicon-plus"></span></button>
</div>
<br>

<table id="selectedDishesTable">
	<tr style="background: rgba(0,0,0,0.3)">
		<th>Dish</th>
		<th class="rightAlignText">Cost</th>
		<th></th>
	</tr>

	<tr ng-repeat="dish in menu">
		<td>{{dish.title}}</td>
		<td class="rightAlignText">{{getDishPrice(dish.id)}}</td>
		<td>
			<button class="btn btn-default dishRemovalButton" role="button" ng-click="removeDishFromMenu(dish.id)">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</td>
	</tr>
	<tr>
		<td></td>
		<td class="rightAlignText" colspan="2">Total cost: <span id="totalCost">{{getTotalMenuPrice()}}</span></td>
	</tr>
</table>
<br>
<a href="#!/summary" class="btn btn-default" id="confirmationButton" style="">Confirm dinner</a>

