<div class="body" id="view56">

	<ng-include src="'partials/view56header.html'" ng-controller="View2Ctrl" class="view56Header"></ng-include>

	<div id="view6">
		<div class="printEntry panel panel-default" id="printView">
			<div class="row dishDescription">
			  <div class="col-sm-12 col-md-6 col-lg-6">
			      <img src="images/meatballs.jpg" style="float:left">
			      <h2>Lasagne</h2>
			      <p>Lasagne är en ugnsgratinerad maträtt som i huvudsak består av pastaplattor varvade med bechamelsås, ost och köttfärssås. Begreppet lasagne al forno används ibland och betyder "lasagne från/vid ugnen".</p>
			  </div>
			  <div class="col-sm-12 col-md-6 col-lg-6">
			   	<h3>Preparation</h3>
			   	<p>Lorem isum dolor si ametLorem isum dolor si ametLorem isum olor si ametLorem isum dolor si ametLorem isum dolor si ametLorem isum dolor si ametLorem isum dolor si ametLorem isum dolor si ametLorem isum dolor si ametLorem isum dolor si ametLorem isum dolor si ametLorem isum dolor si ametLorem isum dolor si amet</p>
			  </div>
			</div>
		</div>
	</div>
</div>