<div class="body" id="view56">

	<ng-include src="'partials/view56header.html'" ng-controller="View2Ctrl" class="view56Header"></ng-include>

	<div id="view5">
		<div class="row" id="finalDishSelection">
		  <div class="col-sm-12 col-md-4 col-lg-3">
		    <a href="#" class="thumbnail">
		      <img src="images/meatballs.jpg">
		      <h3>Lasagne</h3>
		      <p>Price: <span id="dishPrice">77 EUR</span></p>
		    </a>
		  </div>
		  <div class="col-sm-12 col-md-4 col-lg-3">
		    <a href="#" class="thumbnail">
		      <img src="images/meatballs.jpg">
		      <h3>Lasagne</h3>
		      <p>Price: <span id="dishPrice">77 EUR</span></p>
		    </a>
		  </div>
		  <div class="col-sm-12 col-md-4 col-lg-3">
		  	<div class="badge">
			  	<p>Total:</p>
			  	<p>341.20 SEK</p>
		  	</div>
		  </div>
		</div>
		<div>
			<hr>
			<a href="#!/print" class="btn btn-primary"id="printRecipeButton">Print full recipe</a>
		</div>
	</div>
</div>