<div class="body" id="view234">

	<ng-include src="'partials/view2.html'" ng-controller="View2Ctrl" class="selectedDishes" id="view2"></ng-include>

	<div class="mainView" id="view3">
		<div class="dishSelectionHeader">
			<h3>SELECT DISH</h3>
			<hr>
			<div id="searchDishBar">
				<div class="input-group" id="searchDish">
						<input type="text" class="form-control dishSearchField" placeholder="Search for dish..." ng-model="query">
						<span class="input-group-btn">
						<button class="btn btn-default dishSearchButton" type="button" ng-click="search(query, type)">Search</button>
						</span>
				</div><!-- /input-group -->

				
				<select class="form-group" id="singleSelect" ng-model="type" name="dishType" ng-change="search(query, type)">
					<option value="appetizer">Starter</option>
					<option value="main course">Main</option>
					<option value="dessert">Dessert</option>
				</select>
				{{status}}
			</div>
		</div>
		<div class="selectDishGrid">
			<div class="row" id="selectDishGridRow">

				<div class="col-sm-12 col-md-3" ng-repeat="dish in dishes">
					<div class="thumbnail">
						<img ng-src="https://spoonacular.com/recipeImages/{{dish.image}}"/>
						<div class="caption">
							<h3>{{dish.title}}</h3>
							<p>
								<a class="btn btn-primary openDishButton" role="button" ng-href="#!/dish/{{dish.id}}">View</a> 
								<button class="btn btn-default dishSelectionButton" role="button" data_dishid="{{dish.id}}" ng-click="addDishToMenu(dish.id)">Select</button> <!-- TODO:Add dish to menu-->
							</p>
						</div>
					</div>
				</div>
			  <!-- <div class="col-sm-12 col-md-3">
			    <div class="thumbnail">
			      <img src="images/toast.jpg">
			      <div class="caption">
			        <h3>Toast</h3>
			        <p>Description of toast</p>
			        <p><a <head></head>ref="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Select</a></p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-12 col-md-3"><div class="thumbnail"><img src="images/image.png"><div class="caption"><h3>Toast</h3><p>blabla</p><p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Select</a></p></div></div></div>-->
			  </div>
		</div>
	</div>
</div>