<div class="body" id="view56">

	<ng-include src="'partials/view56header.html'" ng-controller="View2Ctrl" class="view56Header"></ng-include>

	<div id="view6">
		<div class="printEntry panel panel-default" id="printView" ng-repeat="dish in menu">
			<div class="panel-heading">
				<h3>{{dish.title}}</h3>
			</div>
			<div class="row dishDescription panel-body">
				<div class="col-sm-12 col-md-6 col-lg-6">
					<img class="view6Image" ng-src="{{dish.image}}">
					<p>{{dish.description}}</p>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6">
					<h3>Ingredients</h3>
					<hr>
					<table id="printIngredientTable">
						<tbody>
							<tr ng-repeat="ingredient in dish.ingredients">
								<td class="printTableQuantity">{{ingredient.quantity * numberOfGuests | number:1}} {{ingredient.unit}}</td>
								<td>{{ingredient.name}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


